<div
  id="banner"
  class="uk-height-small uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-padding"
  [style.background-image]="
    'url(https://strapi-manager.herokuapp.com' + data.article.image.url + ')'" uk-img >
  <h1>{{ data.article.title }}</h1>
</div>

<div class="uk-section">
  <div class="uk-container uk-container-small">
    <p>
      <markdown ngPreserveWhitespaces>
        {{ data.article.content }}
      </markdown>
    </p>
    <p></p>
  </div>
</div>
